$width: 10px;
$color: red;
$pattern: solid;
$font-size: 30px;
$font-weight: bolder;

div{
border: $width $pattern $color;

    p{
        font-size: $font-size; 
        font-weight: $font-weight;  
    }
}

